/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
.main-content{
position:relative;
}

.main-content::before{
content:"♿ 🤝 🚌 ♿ 🤝 🚌 ♿ 🤝 🚌";
position:absolute;
font-size:140px;
color:rgba(0,0,0,0.03);
top:10%;
left:10%;
transform:rotate(-20deg);
pointer-events:none;
}


/* THEME COLORS */

:root{

--sidebar:#DDF6D2;
--background:#ECFAE5;
--card:#FFFFFF;

--primary:#16A34A;
--primary-dark:#15803D;

--text:#1F2937;

}


/* BODY */

body{

height:100vh;

background:var(--background);

display:flex;

justify-content:center;

align-items:center;

}


/* CONTAINER */

.role-container{

width:920px;

height:520px;

background:var(--card);

border-radius:18px;

overflow:hidden;

display:flex;

box-shadow:0 12px 30px rgba(0,0,0,0.08);

}


/* LEFT PANEL */

.role-left{

flex:1;

background:var(--sidebar);

display:flex;

flex-direction:column;

justify-content:center;

padding:50px;

}


.role-left h1{

font-size:42px;

margin-bottom:10px;

color:#065F46;

}


.role-left p{

font-size:18px;

color:#047857;

margin-bottom:5px;

}


.tagline{

font-size:14px;

color:#047857;

opacity:0.9;

}


/* RIGHT PANEL */

.role-right{

flex:1;

display:flex;

justify-content:center;

align-items:center;

}


/* ROLE BOX */

.role-box{

width:360px;

text-align:center;

}


.role-box h2{

font-size:26px;

margin-bottom:5px;

}


.subtitle{

color:gray;

font-size:14px;

margin-bottom:25px;

}


/* ROLE CARDS */

.roles{

display:grid;

grid-template-columns:1fr;

gap:8px;

}


.role-card{

padding:8px;

border-radius:12px;

border:1px solid #ddd;

cursor:pointer;

transition:0.3s;

background:white;

display:flex;

flex-direction:column;

align-items:center;

text-align:center;

}



.role-card:hover{

border-color:var(--primary);

transform:translateY(-3px);

box-shadow:0 10px 20px rgba(0,0,0,0.08);

}


/* ICON */

.icon{

font-size:20px;

margin-bottom:6px;

}


/* CARD TEXT */

.role-card h3{

font-size:15px;

margin-bottom:4px;

color:var(--primary-dark);

}


.role-card p{

font-size:11px;

color:gray;

}


/* RESPONSIVE */

@media(max-width:768px){

.role-container{

flex-direction:column;

width:95%;

height:auto;

}

.role-left{

text-align:center;

padding:35px;

}

.role-right{

padding:30px;

}

}
