/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


/* THEME COLORS */

:root{

--sidebar:#DDF6D2;
--background:#ECFAE5;
--card:#FFFFFF;

--primary:#16A34A;
--primary-dark:#15803D;

--text:#1F2937;

}


/* BODY */

body{

min-height:100vh;

background:var(--background);

display:flex;

justify-content:center;

align-items:center;

}


/* CONTAINER */

.signup-container{

width:920px;

background:var(--card);

border-radius:16px;

overflow:hidden;

display:flex;

box-shadow:0 12px 30px rgba(0,0,0,0.08);

}


/* LEFT SIDE */

.signup-left{

flex:1;

background:var(--sidebar);

padding:60px;

display:flex;

flex-direction:column;

justify-content:center;

}


.signup-left h1{

font-size:42px;

margin-bottom:10px;

color:#065F46;

}


.signup-left p{

font-size:18px;

color:#065F46;

}


.tagline{

font-size:14px;

color:#047857;

}


/* RIGHT SIDE */

.signup-right{

flex:1;

background:white;

display:flex;

justify-content:center;

align-items:center;

padding:40px 0;

}


/* FORM */

.signup-form{

width:340px;

}


.signup-form h2{

font-size:28px;

margin-bottom:6px;

}


.subtitle{

font-size:14px;

color:gray;

margin-bottom:25px;

}


/* INPUT */

.input-group{

margin-bottom:16px;

}


.input-group label{

font-size:13px;

font-weight:500;

display:block;

margin-bottom:6px;

}


.input-group input{

width:100%;

padding:12px;

border-radius:8px;

border:1px solid #ddd;

font-size:14px;

}


.input-group input:focus{

border-color:var(--primary);

outline:none;

}


/* BUTTON */

.signup-btn{

width:100%;

padding:13px;

border:none;

border-radius:10px;

background:var(--primary);

color:white;

font-size:15px;

cursor:pointer;

transition:0.3s;

}


.signup-btn:hover{

background:var(--primary-dark);

}


/* LOGIN TEXT */

.login-text{

margin-top:18px;

text-align:center;

font-size:14px;

}


.login-text a{

color:var(--primary);

text-decoration:none;

font-weight:500;

}


/* RESPONSIVE */

@media(max-width:768px){

.signup-container{

flex-direction:column;

width:95%;

}

.signup-left{

text-align:center;

padding:40px;

}

.signup-right{

padding:30px;

}

}